<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list>
         <app-sidenav-list (closeSidenav)="drawer.close()"></app-sidenav-list>
        </mat-list>

        <!-- <p>Auto-resizing sidenav</p> -->
        <!-- (click)="showFiller = !showFiller"  -->
        <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p> -->
    </mat-drawer>

    <div class="example-sidenav-content">
        <p class="head-contant">
         <app-header (sidenavToggle)="drawer.toggle()"></app-header>
        </p>
        <main>
            <router-outlet></router-outlet>
        </main>
        <!-- <mat-drawer-content>
                <router-outlet></router-outlet>
            </mat-drawer-content> -->
    </div>
</mat-drawer-container>