<mat-toolbar color="primary">
    <button fxHide.gt-xs mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon (click)="onToggleSidenav()">menu</mat-icon>
    </button>
    <span routerLink="/">Logo</span>
    <!-- <div fxFlex></div> -->

    <div fxFlex fxLayout="row" fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="nav-links">
            <li *ngIf="isAuth">
                <a routerLink="/trining" routerLinkActive="router-link-active">Trining</a>
            </li>
            <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
            <li *ngIf="!isAuth">
                <a routerLink="/singup" routerLinkActive="router-link-active">Signup</a>
            </li>
            
            <li *ngIf="isAuth"><a style="cursor: pointer;" (click)="onLogout()" >Logout</a></li>
        </ul>
    </div>
</mat-toolbar>
